<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>create quiz</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAunMnAOuhUgD///8AmVkUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMwAAAAAAADMwREREREREAwERERERERRAASIiAAIiEUABIiAzMCIhQAEiIDMwIiFAASIiAAIiIUABIiAzMAIhQAMiIDMzMCFAASAAAAMzAUABAzMAAzMBQAMDMzMzMwFAAyAzMzMwIUADMgAAAAIhQDAzMiIiIiEDMwAAAAAAADMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA" rel="icon" type="image/x-icon" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/client.js"></script>
</head>

<body>
  <header>
    <nav>
      <a href="/home/<%= userId %>">
        <h1>KWIZY</h1>
      </a>
      <a href="/users/<%= userId %>">
        <div class="create-quiz-link">
          Your Quizzes!
        </div>
      </a>
    </nav>
  </header>
  <div class="main-container">
    <div id="create-quiz-cont">
      <h1> Make Your Own KWIZY!!</h1>
      <form id="create-quiz" method="POST" action="/users/<%= userId %>/createquiz">
        <label for="name">Quiz Title:</label>
        <input id="quiz-title" type="text" name="name">
        <br>
        <label for="description"> Quiz Description:</label>
        <input id="quiz-description" type="text" name="description">
        <br>
        <div class="privacy">
          <input id="is-private" type="radio" name="isPrivate" value="true"> Make private?</input>
          <input id="is-public" type="radio" name="isPrivate" value="false"> Make public?</input>
          <br>
        </div>
        <button type="submit"> Add Question! </button>
      </form>
      <h2 class="error">Please complete the form before submitting.</h2>
    </div>
  </div>
</body>

</html>
