<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>questions</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
</head>

<body>
  <header>
    <nav>
      <a href="/home/<%= user.user_id %>">
        <h2>KWIZY</h2>
      </a>
      <a href="/users/<%= user.user_id %>">
        <div class="create-quiz-link">
          Your Quizzes!
        </div>
      </a>
    </nav>
  </header>
  <div class="main-container">
    <div class="create-question-cont">
      <h2> ADD Question!</h2>
      <form method="POST" action="/quiz/<%= quizId %>/questions">
        <label for="question">Your Question:</label>
        <input type="text" name="question">
        <button type="submit"> Submit </button>
      </form>
    </div>
  </div>
</body>

</html>
