<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz in Progress</title>
</head>
<body>
  <h2>Your Quiz so far:</h2>
  <h3><%= question%></h3>
  <% for (question in questions)
</body>
</html>
