// See: https://sass-lang.com/

body {
  background-color: whitesmoke;
  background-image: url("https://motionarray.imgix.net/preview-168738-46fYQmML5k-high_0004.jpg");
  background-size: 75vw;
  background-position-y: 10vh;
  background-position-x: 30vw;
  font-family: 'Times New Roman', Times, serif;
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3D5D75;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    a {
      color: whitesmoke;
    }
    a:hover {
      font-weight: 900;
      box-shadow: inset;
      color: black;
    }
  }
  .error {
    background-color: red;
    padding: 5px;
    border-radius: 5px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    margin: 50px;
    align-items: center;
    margin-top: 120px;
    .quiz-redirect {
      background-color: #3D5D75;
      margin: 10px;
      padding: 20px;
      color: whitesmoke;
      font-size: 1.2rem;
      border-radius: 5px;
    }
    .quiz-redirect:hover {
      background-color:whitesmoke;
      color: #3D5D75;
      border: 3px solid #3D5D75;
    }
    .results {
      background-color: #3D5D75;
      color: whitesmoke;
      border-radius: 5px;
      margin-top: 30px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        color: whitesmoke;
      }
      .answer-results {
        display: flex;
        flex-direction: column;
        border: 3px solid whitesmoke;
        padding: 30px;
        .question-results {
          font-size: 1.5rem;
          font-weight: bold;
          margin-bottom: 10px;
        }
        .input-answer {
          font-size: 1.2rem;
          margin-bottom: 10px;
        }
        .false {
          background-color: red;
          width: 4.2rem;
          padding: 3px;
          border-radius: 3px;
        }
        .true {
          background-color: green;
          width: 5rem;
          padding: 3px;
          border-radius: 3px;
        }
      }
    }

    .links-container {
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      justify-content: center;
      width: 50%;
      opacity: 0.1;
      .quiz-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .quiz-link {
        border-radius: 5px;
        color: whitesmoke;
        padding: 20px;
        background-color: #3D5D75;
        text-align: center;
        width: 300px;
        min-height: 150px;
        margin: 10px;
      }
      .quiz-link:hover {
        border: 3px solid #3D5D75;
        background-color: whitesmoke;
        color: black;
        box-shadow: 3px 3px grey;
        a {
          color: black;
        }
      }
    }
  }
  #create-quiz-cont  {
    margin: 50px;
    background-color: #3D5D75;
    width: 50%;
    min-height: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    color: whitesmoke;
    h1 {
      color: whitesmoke;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      font-weight: bold;
      input {
        width: 90%;
        margin: 20px;
        border-radius: 3px;
        padding: 10px;
        border-radius: 10px;
      }
      .privacy {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        input {
          margin: 0px;
          padding: 0px;
          width: 5%;
          justify-content: space-evenly;
        }
      }
      button {
        color: #3D5D75;
        background-color: whitesmoke;
        padding: 10px;
        border-radius: 5px;
        border: 2px solid black;
        margin: 20px;
      }
      button:hover {
        color:whitesmoke;
        background-color:#3D5D75;
        border: 2px solid whitesmoke
      }
    }
  }

  .create-quiz-link {
    border-radius: 5px;
    background-color: #3D5D75;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    padding: 20px;
    text-align: center;
    color:whitesmoke;
  }
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    font-weight: 900;
  }
  .create-quiz-link:hover {
    border: 3px solid #3D5D75;
    box-shadow: 3px 3px grey;
    color: black;
    font-weight: 900;
    background-color: whitesmoke;
  }
  .delete-btn {
    background-color: #3D5D75;
    color: whitesmoke;
    border-radius: 3px;
  }
  .delete-btn:hover {
    background-color: whitesmoke;
    color: #3D5D75;
    box-shadow: 3px 3px lightsteelblue;
  }
  .create-question-cont {
    background-color: #3D5D75;
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    color: whitesmoke;
    margin: 40px;
    h2 {
      font-size: xx-large;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 20px;
      font-size: large;
      input {
        width: 90%;
        margin: 20px;
        border-radius: 3px;
        padding: 10px;
      }
      button {
        margin: 20px;
        padding: 20px;
        color: #3D5D75;
        background-color: whitesmoke;
        border-radius: 10px;
      }
      button:hover {
        color: whitesmoke;
        background-color: #3D5D75;
        border: 3px solid whitesmoke;
      }
    }
  }
  .create-answers-cont {
    background-color: whitesmoke;
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: #3D5D75;
    color: whitesmoke;
    margin: 50px;
    h1 {
      color: whitesmoke;
    }
    form {
      label {
        font-weight: bold;
      }
      input {
        margin: 10px;
        margin-bottom: 35px;
      }
      input.textbox {
        width: 90%;
        margin-bottom: 5px;
      }
      button {
        margin: 20px;
        padding: 10px;
        color: #3D5D75;
        background-color: whitesmoke;
        border-radius: 10px;
        margin-left: 10vw;
      }
      button:hover {
        color: whitesmoke;
        background-color:#3D5D75;
        border: 3px solid whitesmoke;
      }
    }
  }
  .finished-quiz-container {
    background-color: #3D5D75;
    padding: 50px;
    margin-top: 30px;
    border-radius: 5px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .q-and-a{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-self: center;
      border: 3px solid whitesmoke;
      padding: 10px;
      .btn-answer_submit {
        background-color: whitesmoke;
        color: #3D5D75;
        border-radius: 3px;
      }
      .btn-answer_submit:hover {
        background-color: #3D5D75;
        color: whitesmoke;
        border: 2px solid whitesmoke;
      }
      .question {
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-content: space-evenly;
        margin-bottom: -5px;
        color: whitesmoke;
      }
      .answers {
        display: flex;
        flex-direction: row;
        margin-bottom: 5px;
        margin-left: 4vw;
        input {
          margin-right: 5px;
        }
      }
    }
  }
  .quiz-inprog-cont {
    background-color: whitesmoke;
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: #3D5D75;
    color: whitesmoke;
    margin: 50px;
    font-size: larger;
    .qsofar {
      border: 3px solid whitesmoke;
      padding: 10px 50px;
      margin: 10px;
      border-radius: 5px;
      h4 {
        margin-bottom: -5px;
      }
    }
    form {
      input {
          margin: 20px;
          padding: 10px;
          color: #3D5D75;
          background-color: whitesmoke;
          border-radius: 10px;
      }
      input:hover {
        color: whitesmoke;
        background-color:#3D5D75;
        border: 3px solid whitesmoke;
      }
    }
  }
}
